@model PlaceModel
@{
    ViewData["Title"] = "Lista Gabientów";
}

<form asp-action="CreatePlace" asp-controller="Place" method="post">
    @Html.AntiForgeryToken()
    <div class="form-row align-items-center justify-content-md-center">
        <div class="col-auto">
            <div asp-validation-summary="All"></div>
            <input type="hidden" asp-for="PlaceId" />
            <div class="form-group">
                <label asp-for="Name">Nazwa placówki:</label>
                <input asp-for="Name" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Street">Adres:</label>
                <input asp-for="Street" type="text" class="form-control" />
            </div>
            <div class="form-row">
                <div class="form-group ">
                    <label asp-for="PostCode">Kod pocztowy:</label>
                    <input asp-for="PostCode" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="City">Miasto:</label>
                    <input asp-for="City" type="text" class="form-control" />
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Dodaj</button>
            <a href="@ViewBag.ReturnUrl" class="btn btn-secondary">Powrót</a>


        </div>
    </div>
</form>




